@font-face {
    font-family: riot;
    src: url(ProtestRiot-Regular.ttf);
}
@font-face {
    font-family: strike;
    src: url(ProtestStrike-Regular.ttf);
}
@font-face {
    font-family: shrik;
    src: url(Shrikhand-Regular.ttf);
}