<div class="particles-container">
  <ng-particles [id]="id" [options]="particlesOptions" [particlesInit]="particlesInit" class="ng-particles">
  </ng-particles>
  
  <div class="content">
      <ngx-typed-js [strings]="['Zura Jeladze.', 'Web Developer.', 'Angular Developer.', 'happy to see you here.']"
        [backSpeed]="30" [backDelay]="1000" [typeSpeed]="50" [startDelay]="50" [loop]="true">
        <div class="greet">
          <h3>Hello,</h3>
          <h1 class="Iam">I am <span class="typing"></span></h1>
        </div>
      </ngx-typed-js>

      <!-- <app-skills></app-skills> -->

    </div>
  </div>