<div class="bg">
      <span>HTML </span>
      <span [countUp]="100" [options]="{ enableScrollSpy: true, suffix: '%', scrollSpyOnce: true }">0</span>
      <app-experience></app-experience>

      <swiper-container class="swiper" mousewheel="true" snap="false">
            <swiper-slide>Slide 1</swiper-slide>
            <swiper-slide>Slide 2</swiper-slide>
            <swiper-slide>Slide 3</swiper-slide>
      </swiper-container>

      <!-- <div class="horizontal-scroll">
            <div class="skill1"></div>
            <div class="skill2"></div>
            <div class="skill3"></div>
            <div class="skill4"></div>
            <div class="skill5">
                  <div class="experience"></div>
            </div>
      </div> -->
      
      
</div>