<div class="bg">
      <!-- <span>HTML</span>
      <span [countUp]="100" [options]="{ enableScrollSpy: true, suffix: '%', scrollSpyOnce: true }">0</span>
      <app-experience></app-experience> -->

      <div class="viewport">
      </div>
      <div class="testDiv" #testDiv></div>

      <!-- <swiper-container class="mySwiper swiper-h" mousewheel="true" free-mode="true">
            <swiper-slide>Horizontal Slide 1</swiper-slide>
            <swiper-slide>
                  <swiper-container class="mySwiper2 swiper-v" mousewheel="true" direction="vertical" free-mode="true">
                        <swiper-slide>Vertical Slide 1</swiper-slide>
                        <swiper-slide>Vertical Slide 2</swiper-slide>
                        <swiper-slide>Vertical Slide 3</swiper-slide>
                        <swiper-slide>Vertical Slide 4</swiper-slide>
                        <swiper-slide>Vertical Slide 5</swiper-slide>
                  </swiper-container>
            </swiper-slide>
      </swiper-container> -->
</div>