<main>
    <section>
        <div class="container">
            <h1>hybrid scroll</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ipsam, veniam magni iure soluta odio quam recusandae, sit autem facere ratione ad similique officiis dignissimos totam aut numquam deleniti doloribus.</p>
            <p>Unde nostrum similique officiis itaque sunt aliquid cumque nobis a natus velit facere at minus, ratione accusamus atque laborum architecto eum qui hic ad! Ad alias ex esse soluta id.</p>
        </div>
    </section>
    <div class="sticky-parent">
        <div class="sticky" #sticky>
            <div class="scroll-x" #sect>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
            </div>
        </div>
    </div>
    <app-experience></app-experience>
</main>